body
{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    background-color: #e3e3e3;
            /*#fffdf2;*/
}

.head
{
    background-image: url("../media/yellowflowy.jpg");
    padding: 5%;
    text-align: center;
    vertical-align: center;
    color: #525252;
    font-size: 3em;
}

hr
{
    border: 3px solid #fff04a;
    border-radius: 5px;
}

hr.second
{
    border: 2px solid #fff04a;
    border-radius: 5px;
}

hr.third
{
    border: 1px solid #fff04a;
    border-radius: 5px;
}

.row
{
    display: flex;
}

.column
{
    flex: 50%;
    padding: 2%;
    font-size: 1.45em;
}

.footer
{
    background-image: url("../media/yellowflowy.jpg");
    color: #525252;
    padding: 1.5%;
    text-align: center;
    vertical-align: center;
    font-size: 1.15em;
}

.footer a
{
    color: #525252;
}

ul
{
    list-style-type: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 4%;
}

li
{
    float: left;
}

li a
{
    display: block;
    color: #525252;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: rgba(179, 179, 179, 0.25);
}